body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul, li, a{
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
    color:black;
    text-decoration: none;
}
ul+li{
    left: 0;
}
header{
    padding : 17px 3%;
}
nav{
    margin-top: 0rem;
    margin-left: 2%;
    width : 96%;
    display: flex;
}
nav a{
    font-weight:bold;
}
section{
    margin-top: 1rem;
    margin-left: 15%;
    width : 70%;
}
footer{
    margin-top: 1rem;
    margin-left: 10%;
    width : 90%;
}
.logo{
    cursor: pointer;
    border-radius : 50%;
    width : 70px;
    height : 50px;
}
.containerProduct{
    display : flex;
}
.pageTitle{
}
.headerLinks li {
    display: inline-block;
    padding: 0px 20px;
}
.headerLinks li a{
    transition: all 0.3s ease 0s;
}
.headerLinks li a:hover {
    color : cadetblue;
}
.navLinks li {
    display: inline-block;
    padding: 0px 20px;
}
.navLinks li a{
    transition: all 0.3s ease 0s;
}
.navLinks li a:hover {
    color : cadetblue;
}
.productImage{
    height: 250px;
    width: 100%;
    border-radius: 10%;
}
.product{
    border: 2px solid black;
    width : 20%;
    justify-content: space-around;
    margin :.2rem 15px;
    padding: 5px;
    border-radius : 10px;

}
ul.breadcrumb li+li:before {
    padding: 8px;
    font-size: 16px;
    color:antiquewhite;
    content: "/\00a0";
}
.pric1{
    color: #7b7b7a;
}
.pric3{
    color: green;
}
.blod{
    font-weight : bold;
}

@media  screen  and (max-width: 900px){
    .containerProduct{
        display: grid;
        grid-template-columns: auto auto;
    }
    .product{
        width: 80%;
    }
    a{
        font-size: 15px;
    }
}
@media screen and (max-width: 690px) {

    a{
        font-size: 13px;
    }
    .headerLinks li {
        padding: 0px 10px;
    }
}
@media screen and (max-width: 570px) {
    .containerProduct{
        grid-template-columns: auto;
    }
    .productImage{
        width: 100%;
    }
    nav{
        display: grid;
        grid-template-columns: auto;
    }
    nav a{
        display: flex;
        justify-content: center;
        font-size: .6em;
        padding: 7px 0;
    }
    nav ul li{
        margin-left: -.2rem;
        border: 2px solid black;
    }
    header{
        padding : 17px 0%;
    }
    .navLinks li {
        display: inline-block;
        padding: 0px;
    }
    .navLinks{
        margin-top: -.6rem;
    }
    .logo{
        width: 30%;
        display: inline;
        align-items: center;
    }
    section{
        margin-top: .6rem;
        margin-left: 2%;
        width : 96%;
    }
    header nav ul{
        display: flex;
        justify-content: center;
    }

}
@media print {
    header div{
        display: none;
    }
}
